In [19]:
%matplotlib inline
# Add the dependencies
import pandas as pd
import os

In [20]:
## District Summary Comparison
# Load the results of the district data with and without 9th grade Thomas High School Scores
load1 = "Results/districtSummaryAll.csv"
load2 = "Results/districtSummaryScoresRemoved.csv"

district1_data_df = pd.read_csv(load1)
district2_data_df = pd.read_csv(load2)

# Combine Data Frames
district={'Analysis':['All Students','No Thomas 9th Grade']}
district_df=pd.DataFrame(data=district)
for column in district1_data_df.columns:
    district_df[column]=[district1_data_df[column][0],district2_data_df[column][0]]
district_df=district_df[['Analysis','Total Schools','Total Students',	'Total Budget',	'Average Math Score','Average Reading Score','% Passing Math','% Passing Reading','% Overall Passing']]

# Display and Write to csv
district_df.to_csv('./Results/districtSummaryBoth.csv',index=False)
display(district_df)

,Analysis,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,All Students,15,"39,170","$24,649,428.00",79.0,81.9,75.0,86.0,65.0
1,No Thomas 9th Grade,15,"39,170","$24,649,428.00",78.9,81.9,74.8,85.7,64.9

In [105]:
## per School Summary Comparison (Thomas High School)
# Load the results of the district data with and without 9th grade Thomas High School Scores
load1 = "Results/perSchoolSummaryAll.csv"
load2 = "Results/perSchoolSummaryScoresRemoved.csv"

thomas1_data_df = pd.read_csv(load1)
thomas1_data_df=thomas1_data_df[thomas1_data_df['Unnamed: 0'] == "Thomas High School"]
thomas1_data_df=thomas1_data_df.rename(columns={'Unnamed: 0':'School Name'})
# Re-index the new data frame since it is a "piece" of a previous one
thomas1_data_df.reset_index(drop=True,inplace=True)
thomas2_data_df = pd.read_csv(load2)
thomas2_data_df=thomas2_data_df[thomas2_data_df['Unnamed: 0'] == "Thomas High School"]
thomas2_data_df=thomas2_data_df.rename(columns={'Unnamed: 0':'School Name'})
thomas2_data_df.reset_index(drop=True,inplace=True)

# Combine Data Frames
thomas={'Thomas High School':['All Students','No 9th Grade']}
thomas_df=pd.DataFrame(data=thomas)
for column in thomas1_data_df.columns:
    thomas_df[column]=[thomas1_data_df[column][0],thomas2_data_df[column][0]]
    try:
        thomas_df[column]=thomas_df[column].map("{:.1f}".format)
    except ValueError:
        print(column)
thomas_df=thomas_df[['Thomas High School','Average Math Score','Average Reading Score','% Passing Math','% Passing Reading','% Overall Passing']]
display(thomas_df)

School Name
School Type
Total School Budget
Per Student Budget
Spending Ranges (Per Student)
School Size

,Thomas High School,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,All Students,83.4,83.8,93.0,97.0,91.0
1,No Thomas 9th Grade,83.4,83.9,93.2,97.0,90.6

In [101]:
thomas1_data_df.columns

Index(['School Name', 'School Type', 'Total Students', 'Total School Budget',
       'Per Student Budget', 'Average Math Score', 'Average Reading Score',
       '% Passing Math', '% Passing Reading', '% Overall Passing',
       'Spending Ranges (Per Student)', 'School Size'],
      dtype='object')

In [82]:
district1_data_df['Total Schools']

0    15
Name: Total Schools, dtype: int64